-
  var blockName = 'sp-about';
  var blockModifiers = [];

  var logos = false;
  var imgDefault = 'http://fpoimg.com/1100x100';

  if (section.credibility_logos_left || section.credibility_logos_right) {
    logos = {
      left: {
        src: section.credibility_logos_left.sizes.large || imgDefault,
        alt: section.credibility_logos_left.alt || '',
      },
      right: {
        src: section.credibility_logos_right.sizes.large || imgDefault,
        alt: section.credibility_logos_right.alt || '',
      },
    };
  }
-
+section(blockName, blockModifiers, false)
  +element(blockName, 'item')
    +element(blockName, 'heading', [], 'h2').
      #{section.heading}
    +element(blockName, 'top-text').
      !{section.top_body_text}
    +element(blockName, 'team-heading', [], 'h2').
      #{section.team_heading}
    each member in section.team_members
      -
        // A little hacky.
        member.acf_fc_layout = 'sp-photobox';
      -
      +includeBlock(member)

  +element(blockName, 'affiliations')
    +element(blockName, 'affiliations-heading', [], 'h4').
      #{section.credibility_heading}
    if logos
      +element(blockName, 'affiliations-logos', ['left'], 'img')(
        src= logos.left.src
        alt= logos.left.alt
      )
      +element(blockName, 'affiliations-logos', ['right'], 'img')(
        src= logos.right.src
        alt= logos.right.alt
      )
