-
  var blockName = 'sp-features';
  var blockModifiers = [section.background_style];
-
+section(blockName, blockModifiers, false)
  +element(blockName, 'item')
    +element(blockName, 'heading', [], 'h2').
      !{section.heading}
    +element(blockName, 'lead').
      !{section.intro}

    //- Wraps on wraps on wraps...
    +element(blockName,  'flex-wrapper')
      +element(blockName, 'video-container').
        !{section.video}
      +element(blockName, 'video-caption', [], 'p').
        !{section.video_caption}
    +element(blockName, 'list', [], 'ul')
      each feature in section.features
        +element(blockName, 'feature-item', [], 'li').
          #[+element(blockName, 'feature', [], 'strong')= feature.feature] #{feature.description}
