-
  /*
   * This block is a special case: it's always implemented by another major
   * block, and it always starts out hidden. It depends on JS to unhide and
   * display it.
   */
  var blockName = 'sp-popover';
  var blockModifiers = ['hidden', 'fade-out', 'light'];
-
+block(blockName, blockModifiers)
  +element(blockName, 'container')
    +element(blockName, 'form', [], 'form')
      +element(blockName, 'heading', [], 'h2')
        +element(blockName, 'heading-bold', [], 'strong')= section.heading_bold
        | #{section.heading}
      +element(blockName, 'body-text').
        !{section.body_text}
      +element(blockName, 'input-group')
        +element(blockName, 'label', ['required'], 'label') First Name
        +element(blockName, 'input', ['text', 'required'], 'input')(
          name="fname"
          type="text"
        )
      +element(blockName, 'input-group')
        +element(blockName, 'label', ['required'], 'label') Email
        +element(blockName, 'input', ['email', 'required'], 'input')(
          name="email"
          type="email"
        )
      +element(blockName, 'input-group')
        +element(blockName, 'label', [], 'label') Mobile Phone Country
        +element(blockName, 'input', ['select'], 'select')(
          name="country"
        )
          option(value="CA") Canada
          option(value="US") United States
      +element(blockName, 'input-group')
        +element(blockName, 'label', [], 'label') Mobile Phone
        +element(blockName, 'input', ['phone'], 'input')(
          name="mobile_phone"
          type="phone"
        )
      +element(blockName, 'submit', [], 'button')(
        type="submit"
      )= section.button_text
    +element(blockName, 'image-wrap')
      +element(blockName, 'image', [], 'img')(
        src="/img/overlay_alicia.png"
        alt="popover image"
      )
  +element(blockName, 'close-btn', [], 'button').
    &times;
