-
  var blockName = 'sp-photobox';
  var blockModifiers = [];
  var imageSrc = section.image && section.image.sizes.large || 'http://fpoimg.com/450x500';
  var imageAlt = section.image && section.image.alt || '';
-
+section(blockName, blockModifiers, false)
  +element(blockName, 'photo-wrap', [], 'figure')
    +element(blockName, 'photo', [], 'img')(
      src= imageSrc
      alt= imageAlt
    )
  +element(blockName, 'text-wrap')
    +element(blockName, 'heading', [], 'h4').
      #{section.name}
    if section.credentials
      +element(blockName, 'credentials', [], 'p').
        #{section.credentials}
    if section.position
      +element(blockName, 'position', [], 'p').
        #{section.position}
    +element(blockName, 'bio').
      !{section.bio}
