-
  var blockName = 'sp-photobox';
  var blockModifiers = [];
-
+section(blockName, blockModifiers, false)
  +element(blockName, 'photo-wrap', [], 'figure')
    +element(blockName, 'photo', [], 'img')(
      src= section.image.sizes.large
      alt= section.image.alt
    )
  +element(blockName, 'text-wrap')
    +element(blockName, 'heading', [], 'h4').
      #{section.name}
    if section.credentials
      +element(blockName, 'credentials', [], 'p').
        #{section.credentials}
    if section.position
      +element(blockName, 'position', [], 'p').
        #{section.position}
    +element(blockName, 'bio').
      !{section.bio}
