include /mixins/bem-helpers
include /mixins/miscellaneous
include /mixins/partials

doctype html
html(lang="en")

  head
    title= fields.title.rendered

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    script(src="//f.vimeocdn.com/js/froogaloop2.min.js")
    script(src="//use.typekit.net/mdv1txb.js")
    script.
      try{Typekit.load();}catch(e){}

    link(rel="stylesheet" href="/css/main.min.css")

  body
    -
      var bottomImage = false;
      var styleAttr = false;
      if (fields.acf.bottom_image) {
        bottomImage = fields.acf.bottom_image.sizes.large || false;
        bottomImageClass = bottomImage && 'sp--has-bottom-image';
        styleAttr = bottomImage && `background-image: url(${bottomImage});`;
      }
    -
    .sp(
      class= bottomImageClass
      style= styleAttr
    )
      -
        var isPopoverRequired = false;
        var currentPhase = fields.sellaporter_phase;

        // Run a quick pre-loop to get all floating nav items
        var floatingNavItems = fields.acf.smart_sales_page.filter(block => {
          var isVisible = block.visible_phases.indexOf(currentPhase) !== -1;
          return (isVisible && block.floating_nav_visible && !!block.nav_text);
        });
      -
      each section in fields.acf.smart_sales_page
        if (section.visible_phases.indexOf(fields.sellaporter_phase) !== -1)
          -
            section.current_phase = fields.sellaporter_phase;

            if (section.cta_type === 'popover') {
              isPopoverRequired = true;
            }

            if (section.acf_fc_layout === 'sp-floating-bar') {
              section.nav_items = floatingNavItems;

              // Grab the button text for the floating bar.
              section.barText = fields.acf.floating_bar_text.filter(t => {
                return (t.visible_phases.indexOf(section.current_phase) > -1);
              })[0];

              // If the floating bar opens the popover, make sure it exists.
              if (section.barText.button_action === 'popover') {
                isPopoverRequired = true;
              }
            }
          -
          +includeBlock(section)

      //- If any of the buttons open a popover, add the markup
      if (isPopoverRequired)
        -
          var popover = {
            acf_fc_layout: 'sp-popover',
            heading_bold: fields.acf.popover_heading_bold,
            heading: fields.acf.popover_heading,
            body_text: fields.acf.popover_body_text,
            button_text: fields.acf.popover_button_text,
          };
        -
        +includeBlock(popover)

    //-
      Vendor scripts are bundled separately because they're less likely to
      change than app scripts. Keeping them separate helps with caching.
    script(src="/js/vendors.min.js")
    script(src="/vendor/pn-finalists/dist/pn-finalists.min.js")
    script(src="/js/main.min.js")

    noscript
      iframe(
        src="//www.googletagmanager.com/ns.html?id=GTM-5NMXHL"
        height="0"
        width="0"
        style="display:none;visibility:hidden")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5NMXHL');

    //- If we're in development mode, this adds a LiveReload listener.
    if process.env.NODE_ENV && process.env.NODE_ENV === 'development'
      - console.warn('NOTE: Development mode is enabled!');
      script(src="//localhost:9091")
